<!-- <footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}{{help_center.name}}{{/link}}

    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer> -->

<footer class="ftrMain">
  <div class="mt-24 py-12 sm:py-32" style="background: #0C7908;">
    <div class="text-center pb-12 text-4xl text-slate-200">Need additional help?</div>
    <div class="w-full flex justify-center">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8 w-full sm:w-fit">
        <div class="flex justify-center">
          <a href="javascript:zE('messenger', 'open');" class="p-6 w-5/6 sm:w-72 text-center talk-link">Chat with Us</a>
        </div>
        <div class="flex justify-center">
          <a href="https://www.jmautosports.com/contact" class="p-6 w-5/6 sm:w-72 text-center talk-link">Talk to Us</a>
        </div>
        <div class="flex justify-center">
          <a href="{{page_path 'new_request'}}" class="p-6 w-5/6 sm:w-72 text-center talk-link">Email Us</a>
        </div>
      </div>
    </div>
  </div>
  <div id="FooterPane" class="mainFooterPane" runat="server">
    <div class="FooterWideInnerWrapper">
      <div id="dnn_ctr306650_ViewLayoutManager_SCEFooter_3_panalHTML">
        <div id="FootCustomHTMLAbove" class="FootCustomHTML Above">
          <div class="CustomHTMLBox">
            <div class="container ftrContainer">
              <div class="row layoutToggleMobile">
                <div class="col-md-5 column first">
                  <div class="row">
                    <div class="col-xs-6 column first">
                      <img src="https://jmautosports.com/Files/logo.png" class="b-lazy b-loaded" data-download="false" alt="">
                    </div>
                    <div class="col-xs-6 column last">
                      <div class="socialMediaIcons AlignRight">
                        <a href="https://www.facebook.com/jmautoracing1" class="socialicon-facebook" style="font-size: 33px; line-height: 33px; margin-left: 0px; margin-right: 5px" target="_blank"></a>
                        <a href="https://twitter.com/JMAutoRacing" class="socialicon-twitter" style="font-size: 33px; line-height: 33px; margin-left: 5px; margin-right: 5px" target="_blank"></a>
                        <a href="https://instagram.com/jmautoracing" class="socialicon-instagram" style="font-size: 33px; line-height: 33px; margin-left: 5px; margin-right: 5px" target="_blank"></a>
                        <a href="https://jmautosports.com/contact" class="socialicon-email" style="font-size: 33px; line-height: 33px; margin-left: 5px; margin-right: 0px" target="_blank"></a>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 column first last">
                      <div class="SpacerBox Clear none space-30" style="width:100%; display:block">
                        <i class="spaceri"></i>
                      </div>
                      <p>JM Auto Sports is the premier provider of automotive products and solutions in the greater tri-county area. We take pride in the quality of our inventory and the amazing people we work with. Feel free to drop us a question or say hi!</p>
                      <div class="SpacerBox Clear none space-30" style="width:100%; display:block">
                        <i class="spaceri"></i>
                      </div>
                      <p class="lead"></p>
                      <div class="SubscribeBoxWrapper AlignCenter big"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 column"></div>
                <div class="col-md-2 column captionPresent">
                  <div class="columnCaption index2">
                    <span>
                      <span class="h3">SUPPORT </span>
                    </span>
                    <svg class="sceico-downsolo">
                      <use href="{{asset 'icons.svg'}}#sceico-downsolo"></use>
                    </svg>
                  </div>
                  <div class="columnCaptionContent index2">
                    <ul>
                      <li>
                        <a href="https://jmautosports.com/contact">Help Center</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/secure/dashboard">My Account</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/secure/dashboard">Track Order</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/secure/OrderHistory">Order History</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/privacypolicy">Privacy Policy</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/returnpolicy">Return Policy</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/articles/simple-ways-to-return-items">How to Return an Item</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/articles/simple-way-to-cancel-ordered-items">How to Cancel an Order</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/terms">Terms of Use</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/faq">FAQ</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/contact">Contact Us</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2 column captionPresent">
                  <div class="columnCaption index3">
                    <span>
                      <span class="h3">ABOUT </span>
                    </span>
                    <svg class="sceico-downsolo">
                      <use href="https://jmautosports.com/scripts/svgIcons/icons.svg#sceico-downsolo"></use>
                    </svg>
                  </div>
                  <div class="columnCaptionContent index3">
                    <ul>
                      <li>
                        <a href="https://jmautosports.com/about">About Us</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/category">Product Categories</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/specials">Coupon Codes</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/product/gift-card">Gift Cards</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/articles">Guides &amp; Articles</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/buy/shop/discount">Popular Searches</a>
                      </li>
                      <li>
                        <a href="https://jmautosports.com/sitemap">Sitemap</a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-2 column last captionPresent">
                  <div class="columnCaption index4">
                    <span>
                      <span class="h3">CONTACTS </span>
                    </span>
                    <svg class="sceico-downsolo">
                      <use href="https://jmautosports.com/scripts/svgIcons/icons.svg#sceico-downsolo"></use>
                    </svg>
                  </div>
                  <div class="columnCaptionContent index4">
                    <p>JM AUTO SPORTS <br>1633 Sycamore Ave, <br>Bohemia, NY 11716 </p>
                    <p>
                      <strong>Toll Free:</strong> (855) 99-TURBO
                    </p>
                    <p>
                      <strong>Email:</strong>
                      <a href="mailto:info@jmautoracing.com">info@jmautoracing.com</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footerMasterHTMLBefore"></div>
        <div class="footer" style="border-width:0px;width:100%;border-collapse:collapse;">
          <div class="FooterTable" style="background-color:White;border-width:0px;width:100%;border-collapse:collapse;">
            <div class="footerbg" align="left">
              <div class="tblFooter" style="border-width:0px;width:100%;border-collapse:collapse;margin-top: 28px">
                <div class="footertxt" align="center">
                  <div class="container">
                    <div class="row">
                      <div class="footerLinkWrap">
                        <ul class="footerLinkWithCategory but1">
                          <li class="footerCategoryWrap  wrap1">
                            <span class="footerCategory">CUSTOMER SERVICE</span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/about">About Us</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/contact">Contact Us</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/faq">FAQ</a>
                            </span>
                          </li>
                          <li class="footerCategoryWrap  wrap2">
                            <span class="footerCategory">HELP</span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/faq">FAQ</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/privacypolicy">Privacy Policy</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://jmautosports.com/returnpolicy">Return Policy</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/terms">Terms of Use</a>
                            </span>
                          </li>
                          <li class="footerCategoryWrap  wrap3">
                            <span class="footerCategory">EXTRAS</span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/links">Partner Links</a>
                            </span>
                            <span class="footerLinkLI">
                              <a class="footerLinkNew" href="https://www.jmautosports.com/category">Product Categories</a>
                            </span>
                          </li>
                          <li class="footerCategoryWrap  wrap4">
                            <span class="footerCategory" style="display: none;"></span>
                            <span class="footerHTMLContent">
                              <div class="AuthorizeNetSeal">
                                <script type="text/javascript" language="javascript">
                                  var ANS_customer_id = "4f2995f9-60db-443c-9d78-87763ad72d84";
                                </script>
                                <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js"></script>
                                <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Credit Card Processing</a>
                              </div>
                            </span>
                          </li>
                        </ul>
                        <div class="footerSeparator"></div>
                        <ul class="footerLinkWithCategory">
                          <li class="footerCategoryWrap last wrap6 wrap1">
                            <span class="footerCategory" style="display: none;"></span>
                            <span class="footerHTMLContent">
                              <span class="copy-text">&copy; 2024 JM Auto Racing. All Rights Reserved</span>
                              <span class="copy-imgt">
                                <img src="https://jmautosports.com/portals/3533/theme8/f-paypal.png" <="" span="">
                              </span>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="footerIcons" style="padding-top: 15px; padding-bottom:15px; text-align:center;">
                  <div class="pIcons traditional master">
                    <img src="https://jmautosports.com/scripts/pgCSS/images/svgPayment/mastercard.svg" class="b-lazy b-loaded" alt="mastercard">
                  </div>
                  <div class="pIcons traditional visa">
                    <img src="https://jmautosports.com/scripts/pgCSS/images/svgPayment/visa.svg" class="b-lazy b-loaded" alt="visa">
                  </div>
                  <div class="pIcons traditional amex">
                    <img src="https://jmautosports.com/scripts/pgCSS/images/svgPayment/amex.svg" class="b-lazy b-loaded" alt="american express">
                  </div>
                  <div class="pIcons traditional discover">
                    <img src="https://jmautosports.com/scripts/pgCSS/images/svgPayment/discover.svg" class="b-lazy b-loaded" alt="discover">
                  </div>
                  <div class="pIcons traditional paypal">
                    <img src="https://jmautosports.com/scripts/pgCSS/images/svgPayment/paypal.svg" class="b-lazy b-loaded" alt="paypal">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footerMasterHTMLBefore"></div>
      </div>
      <script>
        var serverObjectsFooter;

        function aspObjectsFooter() {
          this.qo = "";
          return this;
        }
        serverObjectsFooter = aspObjectsFooter();
      </script>
    </div>
  </div>
</footer>
