<svg id="categories" xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="Educational" class="icon icon-tabler icon-tabler-school" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f2f2f2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M22 9l-10 -4l-10 4l10 4l10 -4v6" />
      <path d="M6 10.6v5.4a6 3 0 0 0 12 0v-5.4" />
    </symbol>

    <symbol id="General" class="icon icon-tabler icon-tabler-search" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f2f2f2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
      <path d="M21 21l-6 -6" />
    </symbol>

    <symbol id="Order-related Information" class="icon icon-tabler icon-tabler-receipt" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f2f2f2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2m4 -14h6m-6 4h6m-2 4h2" />
    </symbol>

    <svg id="ticket" class="icon icon-tabler icon-tabler-receipt" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f2f2f2" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M15 19h-10a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v4.5" />
      <path d="M19 22v.01" />
      <path d="M19 19a2.003 2.003 0 0 0 .914 -3.782a1.98 1.98 0 0 0 -2.414 .483" />
      <path d="M3 7l9 6l9 -6" />
    </svg>
</svg>


<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="visibility-hidden">{{ t 'search' }}</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=true class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="categories blocks mb-24">
    <div class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fit,_minmax(16.66%,_1fr))] gap-8" >
      {{#each categories}}
        {{#if ../has_multiple_categories}}
          <a href="{{url}}" class="flex flex-col bg-white border border-t-4 shadow-sm rounded-xl hover:shadow-lg transition hover:no-underline" style="border-top-color: #0C7908;">
            <!-- <div class="w-full h-40 flex items-center justify-center /* bg-gradient-to-r from-gray-200 to-emerald-700 */" style="background: #A0A0A0; background-size: 100% 400px; background-position: center center; background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),radial-gradient(21% 37% at 72% 23%, #199D14FF 24%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #3F3F3FF5 9%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #0C7908 24%, #073AFF00 100%),linear-gradient(125deg, #F8F8F8FF 1%, #959595FF 100%);"> -->
            <div class="w-full h-40 flex items-center justify-center home-category">
              <svg width="80" height="80">
                <use href="#{{name}}" style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));">
              </svg>
            </div>
            <!-- <img class="w-full h-40 object-cover" src="https://images.unsplash.com/photo-1680868543815-b8666dba60f7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2532&q=80" alt="Image Description"> -->
            <div class="flex flex-col gap-4 p-8 md:p-14">
              <h3 class="!text-3xl font-bold text-gray-800">
                {{name}}
              </h3>
              <p class="text-gray-500">
                {{excerpt description}}
              </p>
            </div>
          </a>
        {{else}}
          {{#each sections}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <span class="blocks-item-title">
                  {{name}}
                </span>
                <span class="blocks-item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{/each}}
        {{/if}}
      {{/each}}
      <a href="{{page_path 'new_request'}}" class="flex flex-col bg-white border border-t-4 shadow-sm rounded-xl hover:shadow-lg transition hover:no-underline" style="border-top-color: #0C7908;">
        <div class="w-full h-40 flex items-center justify-center home-category">
          <svg width="80" height="80">
            <use href="#ticket" style="filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));">
          </svg>
        </div>
        <div class="flex flex-col gap-4 p-8 md:p-14">
          <h3 class="!text-3xl font-bold text-gray-800">
            Create a Request
          </h3>
          <p class="text-gray-500">
            Need further assistance? Get in touch with us directly.
          </p>
        </div>
      </a>
    </ul>
    {{pagination}}
  </section>

  {{#if promoted_articles}}
    <section class="articles flex items-center flex-col">
      <div class="text-center">
        <h2>{{t 'promoted_articles'}}</h2>
      </div>
      <div class="w-full sm:w-1/2 md:w-1/3">
        <ol class="article-list promoted-articles">
          {{#each promoted_articles}}
            <a href="{{url}}" class="w-full">
              <li class="p-6 border-b-2 w-full text-3xl transition-all">
                {{title}}

                {{#if internal}}
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                    <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                    <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                  </svg>
                {{/if}}
              </li>
            </a>
          {{/each}}
        </ol>
      </div>
    </section>
  {{/if}}
</div>
